// .info-tabs {
//   -webkit-tap-highlight-color: transparent;
// }

// .tab-panel {
//   display: none;
// }

// .tab-panel--selected {
//     display: block;
//   }

// .tab-list {
//   border-bottom: 1px solid #aaa;
//   margin: 0 0 10px;
//   padding: 0;
// }

// .tab {
//   display: inline-block;
//   border: 1px solid transparent;
//   border-bottom: none;
//   bottom: -1px;
//   position: relative;
//   list-style: none;
//   padding: 6px 12px;
//   cursor: pointer;
// }

// .tab--selected {
//   background: #fff;
//   border-color: #aaa;
//   color: black;
//   border-radius: 5px 5px 0 0;
// }

// .tab--disabled {
//   color: GrayText;
//   cursor: default;
// }

// .tab:focus {
//   box-shadow: 0 0 5px hsl(208, 99%, 50%);
//   border-color: hsl(208, 99%, 50%);
//   outline: none;
// }
// .tab::after {
//   content: "";
//   position: absolute;
//   height: 5px;
//   left: -4px;
//   right: -4px;
//   bottom: -5px;
//   background: #fff;
// }


.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0;
    padding: 0;
    justify-content: space-evenly;
    display: flex;
  }

  &__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    width: 280px;
    text-align: center;
    background: #848484;
    border-radius: 30px 30px 0 0;
    color: white;


    &--selected {
      background: #434343;
      color: rgb(255, 255, 255);
      border-radius: 30px 30px 0 0;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
      width: 1043px;
      height: 814px;
      background: #434343;
      margin-left: 1px;
      border-radius: 50px 0 0 50px;
      padding: 100px;
      color: white;
    }
  }
}