.react-tabs {
    -webkit-tap-highlight-color: transparent;
  
    &__tab-list {
      border-bottom: 1px solid #aaa;
      margin: 0 0;
      padding: 0;
      justify-content: space-evenly;
      display: flex;
    }
  
    &__tab {
      display: flex;
      justify-content: center;
      border-bottom: none;
      bottom: -16px;
      left: 10px;
      flex: 1;

      min-width: 280px;
      width: 100%;
      height: 60px;

      margin-right: 10px;
      position: relative;
      list-style: none;
      padding: 6px 12px;
      cursor: pointer;
      padding: 12px;
      text-align: center;
      background: #b6b6b660;
      border-radius: 30px 30px 0 0;
      font-size: 24px;
      font-weight: 500;
  
  
      &--selected {
        background: #5a5a5a7e;
        border-radius: 30px 30px 0 0;
      }
  
      &--disabled {
        color: GrayText;
        cursor: default;
      }
  
    }
  
    &__tab-panel {
      display: none;
  
      &--selected {
        display: flex;
        flex-direction: column;
        min-height: 600px;
        min-width: 960px;
        // width: 1043px;
        // min-height: 600px;
        // min-height: 814px;
        background-color: #5a5a5a7e;
        background-image: url("../../public/pokeball.png");
        background-size: 550px 550px;
        background-repeat: no-repeat;
        background-position: right bottom;
        margin-left: 1px;
        border-radius: 50px;
        padding: 40px 0 0 40px;
      }
    }
  }
  .container {
    display: flex;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 200px;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 200px;
  }