.pokemon-type-cont {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: #a6a6a6;
  width: 500px;
  height: 80px;
  padding: 0px;
}

@mixin pokemon-type-color($bg: #fad) {
  background-color: $bg;
  width: 40px;
  height: 80px;
  margin: 0;
  padding: 0px;
}

.pokemon-type-color {
  @include pokemon-type-color($bg: #fad);
}

.pokemon-type-text-cont {
  padding: 10px;
}

.pokemon-type-text {
  color: white;
}
