// import poppins google fonts
// light: 300, regolar: 400, bold: 500
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

// pages
@import "./index.scss";

// components
@import "./components/typingbox.scss";
@import "./components/pokedexCardCont.scss";
@import "./components/contextHeader.scss";
@import "./components/searchBar.scss";
@import "./components/statValue.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
