// .tabs-cont{
//     display: flex;
//     flex-direction: row;
// }

// .tabs {
//     background-color: red;
// }

.pokemonEntry-evolution-display {
    display: flex;
    background-color: #151515;
    color: white;
    width: 100%;
    height: 100vh;
    padding: 40px;
}

.tabs-cont {
    display: flex;
    width: 500px;
}

.sec1 {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    background-image: url("../public/pokeball.png");
    background-size: 350px 350px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.sec2{
    display: flex;
    align-items: center;
    padding: 0px;
    padding-left: 10px;
    flex: 1.5;
    flex-direction: row;
    border-radius: 25px;
    background-color: #434343;
    background-image: url("../public/pokeball.png");
    background-size: 700px 700px;
    background-repeat: no-repeat;
    background-position: 120% 100%;
    
}

.img-types-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types {
    display: flex;
    flex-direction: row;
}

.about-sec {
    display: flex;
    width: 100%;
    padding: 10px 50px 50px 50px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    height: 400px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    height: 400px;
}

.name-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heart-cont {
    display: flex;
}

.stat-value{
    display: flex;
    justify-content: space-between;
    color: white;
    max-width: 350px;
    padding: 10px;
    font-size: 22px;
}

.stat-value > span{
font-weight: 700;
}